<header>
  <h1>Dashboard</h1>
</header>

<ul>
  <li>
    <h3><%= @product_count %></h3>
    <h2>Total Products</h2>
  </li>
  <li>
    <h2>Total Categories</h2>
    <h3><%= @category_count %></h3>
  </li>
</ul>